.profile-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-picture {
  
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info {
  flex: 1;
  padding-left:5px
}

.user-id {
  font-weight: bold;
}

.ticket-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
  margin: 5px 0;
}
.ticket-title2 {
  margin: 5px 0;
}
.ticket-title3 {
  margin: 5px 0;
  font-size:small;
}

.availability {
  width: 0.5px;
  height: 0.5px;
  
  bottom: 0;
  right: 0;
  z-index:2;
  border-radius: 50%;
  &.available {
    color: green;
  }
  &.unavailable {
    color: red;
  }
}

