/* .app {
    text-align: center;
  }
  
  .app-title {
    
    background-color: white;
    color: #007bff;
    align-content:center;
    text-align: center;
    justify-content: center;
  } */
  
 
  
 
